{% extends "../control_panel_base.html" %}


{% block control-panel-content %}

<div class="row">
  <!-- Start of Invitees who didn't responded -->
  <div class="col-xl-6 col-lg-12">
    <div class="card">
      <div class="card-block">
        <div class="table-responsive">
          <form class="" action="" method="post">{% csrf_token %}
            {{form.as_p}}
            <button style = "border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;margin-left:19%;" type = "submit"
                  value = "Login" >
                  <strong>Sumit</strong>
               </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Invitees who didn't responded -->

{% endblock %}
