<nav class="navbar navbar-expand-md fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
            <a class="navbar-brand" href="https://myhub.events">MyHub Events</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#Description" class="nav-link"><i class="nc-icon nc-align-left-2"></i> Description</a>
                </li>
                <li class="nav-item">
                    <a href="#Location" class="nav-link"><i class="nc-icon nc-pin-3"></i> Location</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
