{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>MyHub Events dashboard</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     <![endif]-->

     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
     <!-- Favicon icon -->
     <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
     <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">

     <!-- Google font-->
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

     <!-- iconfont -->
     <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/icofont/css/icofont.css' %}">

     <!-- simple line icon -->
     <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/simple-line-icons/css/simple-line-icons.css' %}">

     <!-- Required Fremwork -->
     <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">

     <!-- Style.css -->
     <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">

     <!-- Responsive.css-->
     <link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css' %}">

     <!--color css-->
     <link rel="stylesheet" type="text/css" href="{% static 'assets/css/color/color-1.min.css' %}" id="color"/>
     <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

 </head>
 <body class="sidebar-mini fixed">
    <div class="loader-bg">
        <div class="loader-bar">
        </div>
    </div>
    <div class="wrapper">
    <!--   <div class="loader-bg">
    <div class="loader-bar">
    </div>
</div> -->
<!-- Navbar-->
<header class="main-header-top hidden-print">
    <a href="index.html" class="logo"><img class="img-fluid able-logo" src="{% static 'assets/images/logo.png' %}" alt="Theme-logo"></a>
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button--><a href="#!" data-toggle="offcanvas" class="sidebar-toggle"></a>
        <!-- Navbar Right Menu-->
        <div class="navbar-custom-menu f-right">
            <ul class="top-nav">
                <!--Notification Menu-->

                <!--<li class="dropdown pc-rheader-submenu message-notification search-toggle">
                    <a href="#!" id="morphsearch-search" class="drop icon-circle txt-white">
                        <i class="icofont icofont-search-alt-1"></i>
                    </a>
                </li>-->
                <li class="dropdown notification-menu">
                    <a href="#!" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                        <i class="icon-bell"></i>
                        <span class="badge badge-danger header-badge">9</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="not-head">You have <b class="text-primary">4</b> new notifications.</li>
                        <li class="bell-notification">
                            <a href="javascript:;" class="media">
                                <span class="media-left media-icon">
                                    <img class="img-circle" src="{% static 'assets/images/avatar-1.png' %}" alt="User Image">
                                </span>
                                <div class="media-body"><span class="block">Lisa sent you a mail</span><span class="text-muted block-time">2min ago</span></div></a>
                        </li>
                      </ul>
                </li>
              </ul>


                </div>
            </nav>
        </header>
        <!-- Side-Nav-->
        <aside class="main-sidebar hidden-print " >
            <section class="sidebar" id="sidebar-scroll">

                <div class="user-panel">
                    <div class="f-left image"><img src="{% static 'assets/images/avatar-1.png' %}" alt="User Image" class="img-circle"></div>
                    <div class="f-left info">
                        <p>John Doe</p>
                        <p class="designation">UX Designer <i class="icofont icofont-caret-down m-l-5"></i></p>
                    </div>
                </div>
                <!-- sidebar profile Menu-->
                <ul class="nav sidebar-menu extra-profile-list">
                    <li>
                        <a class="waves-effect waves-dark" href="profile.html">
                            <i class="icon-user"></i>
                            <span class="menu-text">View Profile</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="javascript:void(0)">
                            <i class="icon-settings"></i>
                            <span class="menu-text">Settings</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="javascript:void(0)">
                            <i class="icon-logout"></i>
                            <span class="menu-text">Logout</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                </ul>
                <!-- Sidebar Menu-->
                <ul class="sidebar-menu">
                    <li class="nav-level">Navigation</li>
                    <li class="active treeview">
                        <a class="waves-effect waves-dark" href="index.html">
                            <i class="icon-speedometer"></i><span> Dashboard</span>
                        </a>
                    </li>
                    {# <li class="nav-level">Reports</li> #}
                    <li class="treeview"><a class="waves-effect waves-dark" href="#!"><i class="icon-chart"></i><span> Reports</span><i class="icon-arrow-down"></i></a>
                        <ul class="treeview-menu">
                            <li><a class="waves-effect waves-dark" href="float-chart.html"><i class="icon-arrow-right"></i> Generic Reports</a></li>
                            <li><a class="waves-effect waves-dark" href="morris-chart.html"><i class="icon-arrow-right"></i> Specific Reports</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>

<div class="content-wrapper">
  {% block control-panel-content %}

  {% endblock control-panel-content %}
</div>
<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
  <!-- Warning Section Starts -->
  <!-- Older IE warning message -->
  <!--[if lt IE 9]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="assets/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="assets/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="assets/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="assets/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="assets/images/browser/ie.png" alt="">
                            <div>IE (9 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
        <![endif]-->
        <!-- Warning Section Ends -->

        <!-- Required Jqurey -->

  <script src="{% static 'assets/plugins/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static 'assets/plugins/tether/dist/js/tether.min.js' %}"></script>

  <!-- Required Fremwork -->
  <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

  <!-- waves effects.js -->
  {# <script src="{% static 'assets/plugins/Waves/waves.min.js' %}"></script> #}

  <!-- Scrollbar JS-->
  <script src="{% static 'assets/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
  <script src="{% static 'assets/plugins/jquery.nicescroll/jquery.nicescroll.min.js' %}"></script>

  <!--classic JS-->
  <script src="{% static 'assets/plugins/classie/classie.js' %}"></script>

  <!-- notification -->
  {# <script src="{% static 'assets/plugins/notification/js/bootstrap-growl.min.js' %}"></script> #}

  <!-- Rickshaw Chart js -->
  <script src="{% static 'assets/plugins/d3/d3.js' %}"></script>

  <!-- Sparkline charts -->

  <!-- Counter js  -->
  {# <script src="{% static 'assets/plugins/waypoints/jquery.waypoints.min.js' %}"></script> #}
  {# <script src="{% static 'assets/plugins/countdown/js/jquery.counterup.js' %}"></script> #}

  <!-- custom js -->
  <script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>
  {# <script type="text/javascript" src="{% static 'assets/pages/dashboard.js' %}"></script> #}
  {# <script type="text/javascript" src="{% static 'assets/pages/elements.js' %}"></script> #}
  <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script src="{% static 'assets/js/menu.min.js' %}"></script>

  <script>
    var $window = $(window);
    var nav = $('.fixed-button');
    $window.scroll(function(){
        if ($window.scrollTop() >= 200) {
         nav.addClass('active');
     }
     else {
         nav.removeClass('active');
     }
  });
  </script>
  <script>
    $(document).ready(function() {
        $('table.table').DataTable();
    } );
  </script>
  <script type="text/javascript">
  // $(document).ready(function() {
  //   var table = $('#example').DataTable({
  //       "columnDefs": [
  //           { "visible": false, "targets": 0 }
  //       ],
  //       "order": [[ 0, 'asc' ]],
  //       "displayLength": 27,
  //       "drawCallback": function ( settings ) {
  //           var api = this.api();
  //           var rows = api.rows( {page:'current'} ).nodes();
  //           var last=null;
  //
  //           api.column(0, {page:'current'} ).data().each( function ( group, i ) {
  //               if ( last !== group ) {
  //                   $(rows).eq( i ).before(
  //                       '<tr class="group"><td colspan="3">'+group+'</td></tr>'
  //                   );
  //
  //                   last = group;
  //               }
  //           } );
  //       }
  //   } );
  //
  //   // Order by the grouping
  //   $('#example tbody').on( 'click', 'tr.group', function () {
  //       var currentOrder = table.order()[0];
  //       if ( currentOrder[0] === 0 && currentOrder[0] === 'asc' ) {
  //           table.order( [ 2, 'desc' ] ).draw();
  //       }
  //       else {
  //           table.order( [ 2, 'asc' ] ).draw();
  //       }
  //   } );
  // } );
  </script>
  </body>
  </html>
