{% extends "base.html" %}

{% load static %}

{% block page-header %}
  <div class="page-header section-dark" style="background-image: url('{{event.event_main_image.url}}')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">{{event.event_title}}</h1>
        </div>
        <h2 class="presentation-subtitle text-center">{{date_time.event_dateandtime | date:"l, j F Y, H:i"}}</h2>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('{% static 'images/clouds.png' %}'); ">

    </div>
  </div>
{% endblock %}
