{% extends "base.html" %}

{% load easy_maps_tags i18n static %}

{% get_available_languages as languages %}

{% if event %}
  {% block page-header %}
  <div class="content-center">
  </div>
  <div class="page-header section-dark" style="background-image: url('{{event.event_main_image.url}}')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h2 class="presentation-subtitle text-center">{% include fobi_theme.messages_snippet_template_name %}</h2>
          <h1 class="presentation-title">{{event}}</h1>
        </div>
        {% if date_time.event_start_date %}
        <h2 class="presentation-subtitle text-center">
          {% trans "From" %} {{date_time.event_start_date | date:"l, j F Y, H:i"}}
        </h2>
        {% endif %}
        {% if date_time.event_end_date %}
        <h2 class="presentation-subtitle text-center">
          {% trans "Until" %} {{date_time.event_end_date | date:"l, j F Y, H:i"}}
        </h2>
        {% endif %}
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('{% static 'images/clouds.png' %}'); ">
    </div>
  </div>
  {% endblock %}
{% endif %}

{% if description %}
  {% block description %}
  <div class="main"  id="Description">
    <div class="section">
      <div class="container marinel">
        <div class="row example-page">
          <div class="col-md-12">
            {{description.event_description|safe}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
{% endif %}

  {% block location %}
  <div class="main"  id="Location">
    <div class="section section-dark">
      <div class="container">
        <div class="row example-page">
          {% if location %}
          {% block api_js %}
          <script type="text/javascript" src="https://maps.google.com/maps/api/js?key={{gmap_key}}"></script>
          {% endblock %}
          <div class="col-md-{% widthratio 12 location|length 1 %} col-sm-12 text-center">
            <h3>{{location.first.event_location_name}}</h3>
            <h6>{{location.first.event_location_address}}</h6>
            {% easy_map location.first.event_location_address using 'easy_maps/map2.html' %}
          </div>
          <div class="col-md-{% widthratio 12 location|length 1 %} col-sm-12 text-center">
            <h3>{{location.last.event_location_name}}</h3>
            <h6>{{location.last.event_location_address}}</h6>
            {% easy_map location.last.event_location_address using 'easy_maps/map.html' %}
          </div>
          {% else %}
          <h1>There are no locations for this Event</h1>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="main"  id="Quizz">
  <div class="section">
    <div class="container marinel">
      <div class="row example-page">
        <div class="col">
          {% if form_active %}
          {# <h1>Form active: {{form_active}}</h1> #}
          {% ifequal LANGUAGE_CODE 'ro' %}
          <p>Înainte de a răspunde la întrebări, te rugăm sa citești cu atenție următoarele:</p>
<ul><li>După data de 1 august 2018 chestionarul nu va mai fi accesibil - dacă nu vei răspunde până atunci vom considera că nu poți veni (ne pare rău, chiar voiam să te vedem)</li>
<li>Folosiți doar link-ul din mailul personal (sunt personalizate și asa știm cine ce a răspuns ceea ce ne ajută să facem aranjamentele cu drumul, cazarea, masa, etc)</li>
<li>Dacă ai răspuns deja, dar ai nevoie să modifici, poți accesa link-ul din nou și răspunde</li>
<ul><li>Atenție mare deoarece răspunsurile anterioare vor fi șterse, deci asigură-te că ai completat tot ce este necesar și că ai răspuns din nou la toate întrebările</li></ul></ul>
<p><b>În cazul în care apar modificări ulterioare, te rugăm să ne contactezi direct. Mulțumim pentru tot!</b></p>{% endifequal %}
          {% ifequal LANGUAGE_CODE 'en' %}
          <p>Before answering the questions, please read carefully the following:</p>
<ul><li>After 1st of August 2018 the questionnaire won’t be accessible anymore - if you don’t answer until then we will think that you can’t be there (we are sorry for that, we would really like to see you)</li>
<li>Use only the link from the email we have sent you (they are personalised and that is how we know who what answered which helps us arrange the transport, accommodation, meals, etc)</li>
<li>If you already answered but you need to make changes, you can access the link again and submit new answers</li>
<ul><li>Note that the previous answers will be deleted, so make sure you fill in and you answer again all the questions</li></ul></ul>
<p><b>In case you have later edits please contact us directly. Thanks for everything!</b></p>{% endifequal %}
          <br>
          {% include fobi_theme.view_form_entry_ajax_template %}
          {% else %}
          <h3>{{form_inactive_page_title}}</h3>
          {% if form_inactive_page_content.inactive_page_message %}
            <h4>{{form_inactive_page_content.inactive_page_message|safe }}</h4>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
{% if form_active %}

<script type="text/javascript">
console.log(<h1>Form active: {{form_active}}</h1>);
$( document ).ready(function() { //wait until body loads
{% for field in form %}
  {% if field.field.conditional %}
  // Codul initial
  var doi=$('#fobi-form input:radio[name={{field.html_name}}]');
    {% for data in field.field.conditioned_data %}
      var {{data}} = $('#fobi-form #{{data}}');
      $("input:radio").prop('required',false);
      $("input:checkbox").prop('required',false);
      // $("input:radio").removeAttr('required');
      // $("input:checkbox").removeAttr('required');
      doi.change(function(){
        var value=this.value;
        {{data}}.addClass('d-none');
        // $("input").prop('required',false);
        // $("input").removeAttr('required');
        $("input:radio").removeAttr('required');
        $("input:checkbox").removeAttr('required');

      if (value === '{{field.field.conditional}}'){
        {{data}}.removeClass('d-none');
        // $("input").prop('required',true);
        $("input:radio").prop('required',true);
        $("input:checkbox").prop('required',true);
      }
      });
      resetForms();
      if ($('#fobi-form input:radio[name={{field.html_name}}]:checked').val() === '{{field.field.conditional}}'){
        {{data}}.removeClass('d-none');
      };
      // GATA COD
    {% endfor %}
  {% endif %}
{% endfor %}
// });
$.validator.setDefaults({
  errorElement: "div",
  errorClass: 'col badge badge-danger',
  highlight: function ( element, errorClass, validClass ) {
    $( element ).addClass( "is-invalid" ).removeClass( "is-valid" );
  },
  unhighlight: function (element, errorClass, validClass) {
    $( element ).addClass( "is-valid" ).removeClass( "is-invalid" );
  },
  errorPlacement: function( error, element ){
    if (element.prop('type') === 'checkbox') {
      error.insertBefore(element.offsetParent().offsetParent());
    } else if (element.prop('type') === 'radio') {
      error.insertBefore(element.offsetParent().offsetParent());
    } else {
      error.insertAfter(element);
    }
  }
});
  $("#fobi-form").validate({});
  resetForms();
});
function resetForms() {
    document.getElementById('fobi-form').reset();
}
</script>
{% endif %}
{% endblock javascript %}
