{% extends "base.html" %}
{% load static %}
{% block title %}Page not found{% endblock %}

{% block page-header %}

<div class="page-header section-dark" style="background-image: url('{% static 'images/soroush-karimi.jpg' %}')">
  <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">404</h1>
          <div class="fog-low">
            <img src="{% static 'images/fog-low.png' %}" alt="">
          </div>
          <div class="fog-low right">
            <img src="{% static 'images/fog-low.png' %}" alt="">
          </div>
          <h2 class="presentation-subtitle text-center">Page not found</h2>
        </div>
      </div>
    </div>
    <h6 class="category category-absolute">This is not the page you were looking for.</h6>
  </div>
</div>
{% endblock %}
